h1{
	text-align: center;
	background: #fff;
 	box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
 	border-radius: 5px;
 	max-width: 480px;
 	margin-left: auto;
 	margin-right: auto;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	left: 0;
 	right: 0;
 	position: absolute;
 	border-top: 5px solid #0e3721;
	animation: bounce 1.5s infinite;
}
